# Ignore local configuration files.
/.rspec
/.rubocop
/.ruby-version
Gemfile.lock

# Ignore local and generated documentation.
/coverage
/doc
/docs/.ruby-version
/docs/_site
.yardoc

# Ignore temporary files.
*.gem
/.byebug_history
/spec/examples.txt
/tmp
